:root {
    --cor-primaria: #0C0C0C;
    --cor-secundaria: #FAFAFA;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}